[Desktop Entry]
Version=1.0
Name=Terasology Launcher
Path=/opt/terasology-launcher
Exec=/usr/bin/terasology-launcher
Icon=terasology
Terminal=false
Type=Application
Categories=Game;
Keywords=tera
Comment=Terasology - open source voxel world, launcher.
